.content{
    width:90%;

}
.content .row{
    margin-top:10px;
  
    
}
.contrnt .card{
    width:97% !important;
    border:none;
    box-shadow:4px 4px 4px #00ff90;
    padding-right:15px !important;
}
img{
    height:150px;
}
.footer{
    position:relative;
    top:10px;
    height:150px;
    background:#E5E8E8;
}
.fa-instagram{
    color:magenta
}
.fa-twitter{
    color:#00ff90;
}
.fa-facebook{
    color:aqua;
}